<style>
    .spinner svg {
        width: 19% !important;
        height: 85px !important;
    }

    label.item.has-error {
        border-bottom: 2px solid red;
    }

    label.item.has-error-lr {
        border-left: 2px solid red;
        border-right: 2px solid red;
    }

    label.item.valid-lr {
        border-left: 2px solid green;
        border-right: 2px solid green;
    }

    .form-errors {
        margin: 5px 0;
    }

    .form-error {
        padding: 2px 0 2px 16px;
        color: red;
    }
</style>

<ion-content class="padding">
    <div class="row">
        <div class="col">
            Confirmation
        </div>
    </div>
    <ion-list>
        <ion-item class="item item-divider">
            Ordered Items
        </ion-item>
        <ion-item ng-repeat="item in ctrl.cartItems" class="item">
            <div class="row">
                <div class="col col-50">
                    {{item.name}}
                </div>
                <div class="col">
                    {{item.qty}}
                </div>
                <div class="col">
                    &pound;{{item.price}}
                </div>
            </div>
    </ion-list>
    Total Price {{ctrl.totalPrice}}


    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" ng-model="ctrl.user.firstName">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" ng-model="ctrl.user.lastName">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Phone number</span>
            <input type="text" ng-model="ctrl.user.phone">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Address Line 1</span>
            <input type="text" ng-model="ctrl.user.addrLine1">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Address Line 2</span>
            <input type="text" ng-model="ctrl.user.addrLine2">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Postcode</span>
            <input type="text" ng-model="ctrl.user.postcode">
        </label>
    </div>
    <ion-spinner ng-hide="!ctrl.showLoader" icon="ripple" class="spinner-assertive"></ion-spinner>
    <div class="row">
        
        <button class="button" ng-hide="ctrl.showLoader" style="background-color:rgb(254,199,82);width:100%" ng-click="ctrl.goToOrderConfirmedPage()">Continue</button>

    </div>
    
</ion-content>